.restaurant-name {
    color: #343a40;
    font-size: 2rem;
    margin-bottom: 10px;
}

.restaurant-description {
    color: #6c757d;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.listing {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.reviews-title {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #495057;
}

.review-text {
    font-weight: 500;
}

.review-rating {
    font-size: 0.9rem;
    color: #adb5bd;
}

.review-form {
    margin-top: 20px;
}

.alert {
    text-align: center;
}

#formSubmit{
    margin: 20px;
}